<div>

    <div style="margin:0cm 0cm 0.0001pt;font-size:11pt;font-family:Calibri,sans-serif;text-align:justify;line-height:13.5pt">
        <b><span style="font-size:10pt;font-family:&quot;Zona Pro Light&quot;">Start having fun with your Walkathon Mobile App!</span></b>
    </div>
    <p style="margin:0cm 0cm 0.0001pt;font-size:11pt;font-family:Calibri,sans-serif;text-align:justify;line-height:13.5pt">
        <span style="font-size:10pt;font-family:&quot;Zona Pro Light&quot;">&nbsp;</span></p>
    <div style="margin:0cm 0cm 0.0001pt;font-size:11pt;font-family:Calibri,sans-serif">
        <span style="font-size:10pt;font-family:&quot;Zona Pro Light&quot;">This year's iThemba Walkathon features an innovative new APP which will be your guide and portal to join thousands of walkers across the country in our virtual walk and crusade against cancer.<span>&nbsp;</span></span>
    </div>
    <p style="margin:0cm 0cm 0.0001pt;font-size:11pt;font-family:Calibri,sans-serif">
        <span style="font-size:10pt;font-family:Cambria,serif">&nbsp;</span><span
            style="font-size:10pt;font-family:&quot;Zona Pro Light&quot;"></span></p>
    <div style="margin:0cm 0cm 0.0001pt 36pt;font-size:11pt;font-family:Calibri,sans-serif">
                <span style="font-size:10pt;font-family:&quot;Zona Pro Light&quot;"><span>-<span
                        style="font-style:normal;font-variant-caps:normal;font-weight:normal;font-stretch:normal;font-size:7pt;line-height:normal;font-family:&quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span>&nbsp;</span></span></span></span><b><span
            style="font-size:10pt;font-family:&quot;Zona Pro Light&quot;">Already
downloaded the App?</span></b><span style="font-size:10pt;font-family:&quot;Zona Pro Light&quot;"><span>&nbsp;</span>If you have already downloaded the App, please visit your Google Play or Apple Stores to update the App. Updating
your iThemba Walkathon App is crucial for optimal performance, access to new features, plus functions that you weren't able to use before.</span>
    </div>
    <div style="margin:0cm 0cm 0.0001pt 36pt;font-size:11pt;font-family:Calibri,sans-serif">
                <span style="font-size:10pt;font-family:&quot;Zona Pro Light&quot;"><span>-<span
                        style="font-style:normal;font-variant-caps:normal;font-weight:normal;font-stretch:normal;font-size:7pt;line-height:normal;font-family:&quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span>&nbsp;</span></span></span></span><b><span
            style="font-size:10pt;font-family:&quot;Zona Pro Light&quot;">Have
not downloaded the App?</span></b><span
            style="font-size:10pt;font-family:&quot;Zona Pro Light&quot;"><span>&nbsp;</span>Keeping abreast of cancer awareness and promoting early detection is at your fingertips now through the iThemba
Walkathon Mobile App! Download yours today from your App Store or Play Store and help us promote the Walkathon! Use the link/login credentials you received via SMS/email to login.</span>
    </div>
    <p style="margin:0cm 0cm 0.0001pt;font-size:11pt;font-family:Calibri,sans-serif;text-align:justify;line-height:13.5pt">
        <span style="font-size:10pt;font-family:&quot;Zona Pro Light&quot;">&nbsp;</span></p>
    <div style="margin:0cm 0cm 0.0001pt;font-size:11pt;font-family:Calibri,sans-serif;text-align:justify;line-height:13.5pt">
        <b><span style="font-size:10pt;font-family:&quot;Zona Pro Light&quot;">Discover so much more while walking virtually, including breast health messages that you can share with your loved ones, and the latest news on the Walkathon activities, such as:</span></b><span
            style="font-size:10pt;font-family:&quot;Zona Pro Light&quot;"></span></div>
    <ul type="disc" style="margin-bottom:0cm">
        <li style="margin:0cm 0cm 7.5pt;font-size:11pt;font-family:Calibri,sans-serif;line-height:13.5pt">
            <span style="font-size:10pt;font-family:&quot;Zona Pro Light&quot;">Social Media challenges to WIN BIG - so get that camera ready!</span>
        </li>
        <li style="margin:0cm 0cm 7.5pt;font-size:11pt;font-family:Calibri,sans-serif;line-height:13.5pt">
            <span style="font-size:10pt;font-family:&quot;Zona Pro Light&quot;">Entertainment on the day - Master KG and many more!</span>
        </li>
        <li style="margin:0cm 0cm 7.5pt;font-size:11pt;font-family:Calibri,sans-serif;line-height:13.5pt">
            <span style="font-size:10pt;font-family:&quot;Zona Pro Light&quot;">Social media posters - download and share with your loved ones</span>
        </li>
        <li style="margin:0cm 0cm 7.5pt;font-size:11pt;font-family:Calibri,sans-serif;line-height:13.5pt">
            <span style="font-size:10pt;font-family:&quot;Zona Pro Light&quot;">Videos on breast health - download and share with your loves ones</span>
        </li>
        <li style="margin:0cm 0cm 7.5pt;font-size:11pt;font-family:Calibri,sans-serif;line-height:13.5pt">
            <span style="font-size:10pt;font-family:&quot;Zona Pro Light&quot;">Social Media filters/frames - Let your friends and family watch you as you make a difference</span>
        </li>
        <li style="margin:0cm 0cm 7.5pt;font-size:11pt;font-family:Calibri,sans-serif;line-height:13.5pt">
            <span style="font-size:10pt;font-family:&quot;Zona Pro Light&quot;">Details of how to join our live stream on the day</span>
        </li>
        <li style="margin:0cm 0cm 7.5pt;font-size:11pt;font-family:Calibri,sans-serif;line-height:13.5pt">
            <span style="font-size:10pt;font-family:&quot;Zona Pro Light&quot;">Track your steps and get recognition messages as you reach milestones</span>
        </li>
    </ul>
    <p style="margin:0cm 0cm 7.5pt;font-size:11pt;font-family:Calibri,sans-serif;line-height:13.5pt">
        <b><span
                style="font-size:10pt;font-family:&quot;Zona Pro Light&quot;">Find out how to use the App by clicking</span></b><b><span
            style="font-size:10pt;font-family:&quot;Zona Pro Light&quot;">/tapping<span><span>&nbsp;</span>on
the below link:</span></span></b></p>
    <p style="margin:0cm 0cm 7.5pt;font-size:11pt;font-family:Calibri,sans-serif;line-height:13.5pt">
                <span style="font-family:&quot;Zona Pro&quot;"><a href="https://bit.ly/37UG5Ns"
                                                                  style="color:rgb(149,79,114);text-decoration:underline"
                                                                  target="_blank"
                                                                  data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=https://rb.gy/bugaji&amp;source=gmail&amp;ust=1604170445040000&amp;usg=AFQjCNGP-1mpgqolqcTS3J5Z1ULvQlYO5Q">https://bit.ly/37UG5Ns</a></span>
    </p>
    <p style="margin:0cm 0cm 0.0001pt;font-size:11pt;font-family:Calibri,sans-serif;text-align:justify;line-height:13.5pt">
        <span style="font-size:10pt;font-family:&quot;Zona Pro Light&quot;">&nbsp;</span></p>
    <div style="margin:0cm 0cm 0.0001pt;font-size:11pt;font-family:Calibri,sans-serif;text-align:justify;line-height:13.5pt">
        <b><span style="font-size:10pt;font-family:&quot;Zona Pro Light&quot;">My Time to Make a Difference, Watch Me Now</span></b><span
            style="font-size:10pt;font-family:&quot;Zona Pro Light&quot;"></span></div>
    <p style="margin:0cm 0cm 0.0001pt;font-size:11pt;font-family:Calibri,sans-serif;text-align:justify;line-height:13.5pt">
        <span style="font-size:10pt;font-family:&quot;Zona Pro Light&quot;">&nbsp;</span></p>
    <div style="margin:0cm 0cm 0.0001pt;font-size:11pt;font-family:Calibri,sans-serif;text-align:justify;line-height:13.5pt">
        <span style="font-size:10pt;font-family:&quot;Zona Pro Light&quot;">#iThembaWalkathon #Boobwatch #SpeakCup #WatchForChange</span>
    </div>
</div>
</div>
</div>